* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg {
  background-image: url("./vhbv.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.nav-link a {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover {
  color: black;
  background-color: tomato;
}

.main {
  background-size: cover;
  width: 100%;
  height: 65vh;
  margin: 5px;
}

.main .container {
  margin-bottom: 10px;
}
.main .col-log-6 h4 {
  font-size: 3.5rem;
  font-weight: 700;
  color: royalblue;
}
.main .col-log-6 h6 {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1;
  color: red;
  border-bottom: 4px solid rgb(69, 181, 198);
}
.main .bt1 {
  height: 35px;
  width: 130px;
  background-color: rgb(233, 20, 109);
  color: white;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}
.main .bt1:hover {
  background-color: rgb(202, 18, 95);
  transition: 0.5s;
}
.about {
  margin-bottom: 50px;
  padding: 100px;
}
.about .col-md-9 h1 {
  color: black;
}
.about img {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.about .col-md-9 p{
    color:black;
   
}
h1 {
  font-size: 3rem;
  font-weight: 900;
}
.data {
  margin: 0px;
  padding: 0px;
}

.about {
  margin-bottom: 50px;
  padding: 100px;
}
.about h1,
p {
  color: white;
}
.about img {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

.data {
  margin: 0px;
  padding: 0px;
}
.table {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
}
.table {
    border-radius: 200px;
}
.container h1{
    color:white;
    font-size: larger;
    background-color:maroon;
    border-radius: 20px;
    text-align: center;
    padding:10px;
}
.container p{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:lightgreen;
    border-radius: 15px;
    padding:20px
}
.container img{
    width:200px;
    height:200px;
    padding:10px;
}
.container .col-sm-5 p{
    color:blueviolet;
    background-color:cornsilk ;
}
.container-fluid .col-sm-4 h4{   
    color:black;
    padding-left: 100px;
    /* padding-right:100px; */
    background-color:darkviolet;
    /* margin:5px; */
    border-radius:20px;
}
.container .mb-3{
    color :blue;
    background-color: white;
    font-size: large;
    border-radius: 20px;
    text-align: center;
}
.container .mb-4{
    color :pink ;
    border-radius: 20px;;

}
.container .col-sm-5 h4,p{
    color: orange;
}
/* .row{
    padding:30px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
} */
.Hari h1{
    color:darkred;
}
.Hari li {
    float:left;
    padding:20px;

} 
.container .col-sm-7 h4{
    color: red;
}